.bbHorizontalLogo{
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* .bbHorizontalLogo img{
   margin:;
} */

.bbHorizontalLogo h2 {
   margin-left: 5px;
}

@media (max-width: 799px){
   .bbHorizontalLogo img {
      height: 33.75px;
   }
}