.bbHorizontalLogo{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.bbHorizontalLogo h2 {
   margin-left: 5px;
}

@media (max-width: 799px){
   .bbHorizontalLogo img {
      height: 33.75px;
   }
}