.newBudgetFormContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.newBudgetForm {
   background-color: var(--c10);
   padding: 30px 30px 15px 30px;
   justify-content: center;
   align-items: center;
   display: flex;
   width: 100vw;
}

.newBudgetForm form {
   display: flex;
   flex-direction: row;
   width: 615px;
   justify-content: space-between;
}

.inputBox::placeholder {
   color: var(--c7);
}

.categorieContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-bottom: 15px;
}

.categorieContainer button {
   padding: 3px;
   border-radius: 5px;
   width: 56px;
   margin: 0 7.5px;
   cursor: pointer;
   font-size: 1.25rem;
   transition: 0.2s;
}

.activated {
   background-color: var(--c12);
}

.itemQuantityInput,
.itemNameInput {
   height: 40px;
   background-color: var(--c9);
   font-size: 1.8rem;
   font-weight: 400;
   font-family: 'Inter', sans-serif;
   border-radius: 5px;
   margin-bottom: 15px;
   appearance: none;
}

.itemsContainer {
   display: flex;
   flex-direction: column;
   height: 200px;
   margin-left: 15px;
}

.itemInput {
   display: flex;
   flex-direction: row;
}

.itemQuantityInput {
   width: 40px;
   padding: 9px 0 9px 9px;
}

.itemNameInput {
   width: 190px;
   padding: 9px;
   margin: 0 15px 15px 15px;
}

.itemSubmitButton {
   width: 40px;
   height: 40px;
   border-radius: 5px;
   padding: 5.5px;
   background-color: var(--c6);
   cursor: pointer;
   transition: 0.2s;
}

.itemSubmitButton:hover,
.itemSubmitButton:focus {
   background-color: var(--c6-d);
}

.itemSubmitButton svg path {
   fill: var(--c5);
}

.itemQuantityInput::placeholder,
.itemNameInput::placeholder {
   color: var(--c7);
}

@media (max-width: 799px) {
   .newBudgetForm {
      padding: 15px 15px 0 15px;
      margin-bottom: 0;
   }
}

@media (max-width: 644px) {
   .newBudgetForm form {
      flex-direction: column;
   }

   .itemsContainer {
      margin-left: 0;
   }
}

.displayedItems {
   display: flex;
   flex-direction: column;
}
.displayedItem {
   display: flex;
   flex-direction: row;
   color: var();
}

.displayedItemQuantity {
   color: var(--c9);
}

.displayedItemQuantity,
.trashButton {
   width: 40px;
   height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.displayedItemName {
   min-width: 190px;
   margin: 0 15px;
   color: var(--c9);
}
.trashButton {
   background-color: var(--c10);
   fill: var(--c9);
   cursor: pointer;
}

.trashButton svg {
   fill: var(--c9);
   transition: 0.2s;
}

.trashButton svg:hover,
.trashButton svg:focus {
   fill: var(--c4-d);
}
