.button{
   color: var(--c12);
   background-color: var(--c10);
   border-radius: 5px;
   padding: 8px;
   width: fit-content;
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   font-weight: 700;
}