.button {
   border-radius: 5px;
   padding: 8px;
   width: fit-content;
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   font-weight: 700;
   cursor: pointer;
   margin: 15px;
}

.blueButton {
   color: var(--c10);
   background-color: var(--c12);
   transition: 0.2s;
}

.blueButton:hover,
.blueButton:focus {
   background-color: var(--c12-d);
}

.greenButton {
   color: var(--c5);
   background-color: var(--c6);
   transition: 0.2s;
}

.greenButton:hover,
.greenButton:focus {
   background-color: var(--c6-d);
}

.redButton {
   color: var(--c3);
   background-color: var(--c4);
   transition: 0.2s;
}

.redButton:hover,
.redButton:focus {
   background-color: var(--c4-d);
}
