.link {
   font-weight: 700;
   color: var(--c12);
}

.loginForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px;
}

@media (max-width: 499px) {
   .loginForm{
      margin: 15px;
   }
}