.bbVerticalLogo {
   margin-bottom: 30px;
}

.bbVerticalLogo img {
   margin-bottom: 5px;
}

.bbVerticalLogo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
