.logout{
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 35px;
}

.logout h3 {
   margin-right: 5px;
}

.logout a {
   height: 35px;
}

.logoutButton {
   width: 35px;
   height: 35px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--c4);
   fill: var(--c3);
   stroke: var(--c3);
   transition: 0.2s;
}

.logoutButton:hover, .logoutButton:focus{
   background-color: var(--c3);
   fill: var(--c4);
   stroke: var(--c4);
}