.logout {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 35px;
}

.logout h3 {
   margin-right: 5px;
}

.logout a {
   height: 35px;
}

.logoutButton {
   width: fit-content;
   height: fit-content;
   padding: 4px;
   border-radius: 5px;
   background-color: var(--c4);
   color: var(--c3);
   transition: 0.2s;
   font-size: 1.5rem;
   font-weight: 500;
   cursor: pointer;
}

.logoutButton:hover,
.logoutButton:focus {
   background-color: var(--c4-d);
}

@media (max-width: 799px) {
   .logoutButton {
      font-size: 1.2rem;
   }
}
