.newBudgetButton {
   width: 104px;
   height: 104px;
   border-radius: 5px;
   stroke: var(--c12);
   background-color: var(--c2);
   transition: 0.2s;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   margin-right: 30px;
}

.newBudgetButton:hover, .newBudgetButton:focus{
   stroke: var(--c2);
   background-color: var(--c12);
}