.newBudgetButton {
   min-width: 104px;
   min-height: 104px;
   max-width: 104px;
   max-height: 104px;
   border-radius: 5px;
   stroke: var(--c12);
   background-color: var(--c2);
   transition: 0.2s;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   margin: 15px;
}

.newBudgetButton:hover,
.newBudgetButton:focus {
   stroke: var(--c2);
   background-color: var(--c12);
}
