.footer{
   display: flex;
   flex-direction: row;
   justify-content: right;
   width: 100%;
   margin-top: auto;
}

.footer div{
   display: flex;
   flex-direction: column;
   align-items: space-between;
   margin-right: 10px;
}

.footer span {
   font-size: 1.4rem;
   font-weight: 700;
   color: var(--c10);
   text-align: right;
}

.footer a {
   text-align: right;
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--c11);
   cursor: pointer;
}

