.budgetSelector{
   padding: 30px;
   background-color: var(--c10);
   margin: 0 -30px;
}

.budgetSelector button {
   max-width: 104px;
   max-height: 104px;
   border-radius: 5px;
   cursor: pointer;
}