.budgetDetails {
   background-color: var(--c10);
   padding: 15px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 0 -30px;
   width: 100vw;
   flex-wrap: wrap;
}

.budgetDetails div {
   display: flex;
   flex-direction: column;
   min-width: 300px;
   margin: 15px;
}

.budgetTitle {
   font-size: 2.6rem;
   font-weight: 200;
   color: var(--c12);
   margin-bottom: 15px;
}

.budgetInfo {
   font-size: 1.8rem;
   font-weight: 300;
   color: var(--c2);
   margin-bottom: 7.5px;
}

.budgetInfo:last-child {
   margin-bottom: 0;
}

.budgetNote {
   color: var(--c10);
   padding: 7.5px;
   border-radius: 5px;
   margin-left: 30px;
   min-width: 300px;
   max-width: 300px;
   height: fit-content;
   max-height: 169px;
   font-size: 1.8rem;
   font-weight: 300;
   margin: 15px;
}

.buttonsSection {
   margin-top: 15px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.buttonsSection div {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

@media (max-width: 799px) {
   .budgetDetails {
      margin: 0 -15px 7.5px -15px;
      padding: 7.5px;
   }

   .budgetDetails div, .budgetNote {
      margin: 7.5px;
   }

   .buttonsSection{
      margin-top: 0;
   }

   .buttonsSection button{
      margin: 7.5px;
   }
}
